doctype html
html
	head
		title Erwyn AI
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='erwyn.css')
	body
		block content
		script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
		script(src='socket.io.js')
		script(src='erwyn-client.js')