extends layout

block content
	h1(style='text-align:center') Erwyn AI Homepage
	div(id='tap-to-speech') 
		i(class="fa fa-microphone", aria-hidden="true")
	div(id='welcome-text') 
		p Hello ${USERNAME}, how may I help you today?
	span(id='voice')
	span(id='voiceTR')
