@import url('https://fonts.googleapis.com/css?family=Roboto:300');

html {
	font-family: 'Roboto', sans-serif;
	color: #222;
}

h1 {
	color: #34495e;
}

div#tap-to-speech {
	background: #2ecc71;
	color: #eee;
	
	text-align: center;
	margin: 15vh auto 0;
	
	width: 40vw;
	height: 40vw;
	border-radius: 500px;
}

div#tap-to-speech:hover {
	background: #27ae60;
	color: #fff;
}

.fa-microphone {
	font-size: 20vw;
	margin-top: 10vw;
}

div#welcome-text {
	text-align: center;
	font-size: 3vw;
	margin-top: 10vw;
	margin-bottom: 50vw;
}

span#voiceTR {
	font-style: italic;
	color: #999;
}

span#voice, span#voiceTR {
	display: block;
	text-align: center;
}